### Core stack

# npm and vite artifacts
node_modules/
.vite/

# vitest artifacts
coverage/

# build artifacts
dist/
*.log

### App settings

# core settings private to you/your org (including salts/keys!)
.env*
# ... but DO store the example .env that is part of the quickstart install!
!.env.example

# Personal data - assuming you use the standard name, don't accidentally commit it
#
dev-data/

### AI integration

# Developer local docs: enables you to store AI Agent work-in-progress without it accidentally committing to main repository
#
TRANSIENT WORKING DOCS/

# With AI Agents some things require local settings in your project, known bug/design flaw.
# Add them here
#
.claude/
CLAUDE.md
.cursorignore
repomix*.xml

### Badly behaved OSs and IDEs

# Apple users and OS X's trash
.DS_Store

# IDEs
.vscode/
*.swp
*.swo
